VERYFI_CLIENT_ID=
VERYFI_USERNAME=
VERYFI_API_KEY=
VERYFI_CLIENT_SECRET=
VERYFI_BASE_URL=https://api.veryfi.com

GHL_LOCATION_ID=
GHL_PRIVATE_INTEGRATION_TOKEN=
GHL_API_KEY=
GHL_WORKFLOW_ID=
GHL_BASE_URL=https://services.leadconnectorhq.com
PORT=8787
